* {   /* selectoe universar para eliminar todos espacios que viene por defecto en los navegadores debido a las etiquetas*/ 
    margin: 0px;  
      /*margin, border y padding pasan a formar parte del cálculo del ancho de la caja y no lo suman posteriormente*/
}

html {
    height: 100%;
    width: 100%;
}

header {
  background-image: url("img/tira.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  height: 205px;
}

.background{ /*Contiene main y aside*/
background-image: url("img/fondo.png");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;  
width: 100%;
height: 100%;
display: flex;/*Se hace flexbox main y aside*/
justify-content: flex-end;
flex-direction: row-reverse;
}

.main{
  width: 70%;
  display: flex;/*Se hacen flexbox todos los article */
  flex-wrap: wrap;
  justify-content: center;
  gap: 65px 130px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.box{
  width: 200px;
  height: 460px;
  font-family: serif;
  font-weight: 600;
  font-size: 21px;
  text-align: center;
  color: #0D0C0C;
  background-color: #b49a61e3;
  display: flex; /*Se hacen flexbox los <p> y <img> */
  flex-direction: column;
  justify-content: space-between;
}

.directorMovie {
  font-family: serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #0D0C0C;
}

.producerMovie{
  font-family: serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #0D0C0C;
}

 .posterMovie{
  width: 200px;
  height: 285px;
 }

 /*Formato a la caja para el filtrado*/
 .sidebar{
  width: 344px;
  padding-top: 3%;
}
.boxAside{
  font-family:serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #0D0C0C;
  background-color: #b49a61e3;
  display: flex;/*Se hacen flexbox a todos los detail*/
  flex-direction: column;
  gap: 15px;
  padding: 5%;
}
details{/*Se hace flexbox a summary y section */
  display: flex;
}
.filterBox{
  display: flex;/*Se hace flexbox a todos los label*/
  border-style:dotted;
  border-color: #0D0C0C;
  flex-direction: column;
  margin: 3%;
}
label{
  font-family:serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #0D0C0C;
  background-color: #8797f0ec;
  display: flex; /*Se hace flex box a todos los input*/
  gap: 15px;
  padding: 3%;
}

/*Fin del formato de la caja para filtrado*/

/*Formato al resumen de la pelicula*/
.recapMovie{
  font-family: serif;
  font-weight: 500;
  font-size: 18px;
  text-align:justify;
  color: #0D0C0C;
}

.box:hover .recapMovie {
  display: block;
 }

 .box .recapMovie {
  display: none;
  position: absolute;
  background-color: #8797f0;
  width: 270px;
  height: 440px;
  padding: 1%;
 }
/*Fin del formato al resumen de la pelicula*/
